/*
	Variables
	------------------------------------------------
*/

$icon-font : 'sunset-icon';
$body-font : 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;

$light-grey : #898989;
$dark-grey : #333333;
$grey : #656565;
$grey1 : #CBCBCB;
$primary-color: #000000;
$lighter-grey: #f1f1f1;
$orange : #ff9d1d;
$orange-hover : #F56B08;